In [15]:
#Reloading the data

import pandas as pd

# Load the data
data = pd.read_csv("sales_data.csv")

# Show first 5 rows
data.head()

   Index   Height(Inches)   Weight(Pounds)
0      1            65.78           112.99
1      2            71.52           136.49
2      3            69.40           153.03
3      4            68.22           142.34
4      5            67.79           144.30

In [17]:
#checking column names
# Check information about the dataset
data.info()

# Check basic statistics
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            200 non-null    int64
 1    Height(Inches)  200 non-null    float64
 2    Weight(Pounds)  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

            Index   Height(Inches)   Weight(Pounds)
count  200.000000       200.000000       200.000000
mean   100.500000        67.949800       127.221950
std     57.879185         1.940363        11.960959
min      1.000000        63.430000        97.900000
25%     50.750000        66.522500       119.895000
50%    100.500000        67.935000       127.875000
75%    150.250000        69.202500       136.097500
max    200.000000        73.900000       158.960000

In [18]:
#column names
# Example: Sum of a column (replace 'Height' with a numeric column in your CSV)
data.columns = data.columns.str.strip()
print("Total:", total)

Total: ['Index', ' Height(Inches)"', ' "Weight(Pounds)"']

In [20]:
#Analysis
total_height = data['Height(Inches)'].sum()
print("Total Height:", total_height)

Total Height: 13589.96

The total Height value represents the sum of all height measurements in the dataset.

In [23]:
total_weight = data['Weight(Pounds)'].sum()
print("Total Weight:", total_weight)

Total Weight: 25444.39

The total Weight value represents the sum of all weight measurements in the dataset.

In [25]:
average_height = data['Height(Inches)'].mean()
print("Average Height:", average_height)

Average Height: 67.9498